#homepage {
background-color: lightblue;    
color: blue;
font-size: 15px;
font-family:Arial, Helvetica, sans-serif
}

#main-title {
    font-size: 20px;
}

#pizza-button, #choco-ice-cream-button, #ging-bread-button {
font-size: 18px;
text-align: center;
margin-left: 165px;
height: 200px;
width: 200px;
}

#pizza-button{
    background-color: #ffff00;
    color:red;
    font-family: cursive;
    font-weight: bold;
}

#choco-ice-cream-button{
    background-color: #ba9b9b;
    color:#a52a2a;
    font-weight: bold;
    font-family: verdana;
}

#ging-bread-button{
    background-color: rgb(198, 133, 103);
    color:#ffffff;
    font-weight: bold;
    font-family: calibri;
}

.odin-logo{ 
    background-image: url(../img/odin-logo.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 50px;
    padding: 82px;
    padding-left:5px;
    padding-right: 50px;
    border-color: #ff0000;
    border-style: ridge;
}

/*Pizza Recipe Page*/
.pizza-page {
    background-image: url(../img/pizza-backdrop.jpg);
color: #510202;
}


#pizza-title{
    background-color: #ffff00;
    color: #8d0606;
    text-align: center;
    font-style: italic;
}

.pizza-boxes {
margin-top: auto;
background-color: #b37272;
font-family:cursive;
font-weight: bold;
padding-right: 90px;
}
.heading1 {
    color:#840303;
    font-family: sans-serif;
    font-weight: bold;
}

span{
font-family: cursive;    
font-weight: bold;
background-color: #b37272;
}
/*Chocolate Ice Cream Recipe Page*/
.choco-ice-cream-page {
    background-image: url(../img/chocolate-ice-cream-backdrop.jpg);
}

#choco-ice-cream-title {
    background-color: #785f5f;
    text-align: center;
    font-family:courier;
    color: #342727;
}

.choc-boxes {
background-color:#ba9b9b;
color: black;
font-family:lucida sans;
font-weight: bold;
padding-right: 90px;
}

.heading2 {
    background-color: rgba(196, 154, 154, 0.651);
    font-family: gill sans;
}


/*Gingerbread House Recipe Page*/

.gingerbread-page {
background-image: url(../img/christmas-stripes-backdrop.jpg);
background-repeat:repeat;
color: green;
}

#ging-bread-title {
background-color: #e01717;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
color: green;
text-align: center;
}

.ging-boxes {
    background-color: #fe7e7e;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 90px;
}

.heading3 {
background-color: #fe7e7e;
color: green;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}